## Annual prescription data sheet

In [ ]:
# Read annual prescription data (2nd sheet) into df and look at head
presc_annual_df = pd.read_excel(file_path, sheet_name=1)

print(presc_annual_df.shape)
presc_annual_df.head(1)

(178243, 69)

,Periodo,UG,ug_sp,ug_presc,Si,fmm,areafmm,Area,Presc,Na sol MaxRES,...,Cbark,Cbranch,Cleaf,Croot,Nthin,CharvTree,CharvCork,CharvResin,CTree,cashflow
0,1,1,1_Ec,1.1,4,4,42.601782,42.601782,1,NaN,...,0.0,0.0,0.0,0.0,0,1772.660162,0.0,0.0,0.0,131588.385201

### Step 0: Subset the data

In [ ]:
# subset for correct time and look at df head
presc_anual_df = presc_annual_df[presc_annual_df['Periodo']<=5]
presc_anual_df['ug_sp'] = presc_anual_df['ug_sp'].str[-2:]
presc_anual_df.head(6)

C:\Users\johan\AppData\Local\Temp\ipykernel_13928\2541415123.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  presc_anual_df['ug_sp'] = presc_anual_df['ug_sp'].str[-2:]

,Periodo,UG,ug_sp,ug_presc,Si,fmm,areafmm,Area,Presc,Na sol MaxRES,...,Cbark,Cbranch,Cleaf,Croot,Nthin,CharvTree,CharvCork,CharvResin,CTree,cashflow
0,1,1,Ec,1.1,4,4,42.601782,42.601782,1,NaN,...,0.0,0.0,0.0,0.0,0,1772.660162,0.0,0.0,0.0,131588.385201
1,2,1,Ec,1.1,4,4,42.601782,42.601782,1,NaN,...,0.0,0.0,0.0,0.0,0,3100.131699,0.0,0.0,0.0,232827.260682
2,3,1,Ec,1.1,4,4,42.601782,42.601782,1,NaN,...,0.0,0.0,0.0,0.0,0,2673.155336,0.0,0.0,0.0,180591.085284
3,4,1,Ec,1.1,4,4,42.601782,42.601782,1,NaN,...,0.0,0.0,0.0,0.0,0,2835.042108,0.0,0.0,0.0,206908.336318
4,5,1,Ec,1.1,4,4,42.601782,42.601782,1,NaN,...,0.0,0.0,0.0,0.0,0,2648.872319,0.0,0.0,0.0,196053.402191
10,1,1,Ec,1.2,4,4,42.601782,42.601782,2,NaN,...,0.0,0.0,0.0,0.0,0,2029.655414,0.0,0.0,0.0,150307.608334

In [ ]:
pd.set_option('display.max_columns', None)
print(presc_annual_df[presc_annual_df.duplicated(subset=['UG','Periodo','Presc'], keep=False)].sort_values(by=['UG','Periodo','Year']).head(5))

     Periodo  UG ug_sp  ug_presc  Si  fmm    areafmm       Area  Presc  \
186        4   1  1_Qr    1.2600   4    6  42.601782  42.601782   2600
193        4   1  1_Qr    1.2601   4    6  42.601782  42.601782   2601
201        4   1  1_Qr    1.2602   4    6  42.601782  42.601782   2602
209        4   1  1_Qr    1.2603   4    6  42.601782  42.601782   2603
215        4   1  1_Qr    1.2604   4    6  42.601782  42.601782   2604

    Na sol MaxRES Na sol MaxWood  Year  Ttotal   t  Rot      hdom    Nst  \
186           NaN            NaN  2050      31  23    1  2.682371  47927
193           NaN            NaN  2050      31  23    1  2.682371  47909
201           NaN            NaN  2050      31  23    1  2.682371  47909
209           NaN            NaN  2050      31  23    1  2.682371  47909
215           NaN            NaN  2050      31  23    1  2.682371  47909

         N  Ndead  FW         G  Gu       dg  dug  cdw  pcob  cesp  \
186  47927    724 NaN  2.933128 NaN  5.76268  NaN  NaN   NaN   NaN
193  47909    724 NaN  2.933128 NaN  5.76268  NaN  NaN   NaN   NaN
201  47909    724 NaN  2.933128 NaN  5.76268  NaN  NaN   NaN   NaN
209  47909    724 NaN  2.933128 NaN  5.76268  NaN  NaN   NaN   NaN
215  47909    724 NaN  2.933128 NaN  5.76268  NaN  NaN   NaN   NaN

              V  V75  Vserr  Vrol      Vres     Vthin  VHarv      maiV  iV  \
186  211.062434  NaN    0.0   0.0  3.699581  3.699581    0.0  0.215405 NaN
193  211.062434  NaN    0.0   0.0  3.699581  3.699581    0.0  0.215405 NaN
201  211.062434  NaN    0.0   0.0  3.699581  3.699581    0.0  0.215405 NaN
209  211.062434  NaN    0.0   0.0  3.699581  3.699581    0.0  0.215405 NaN
215  211.062434  NaN    0.0   0.0  3.699581  3.699581    0.0  0.215405 NaN

            Ww         Wl         Wb  Wba         Wbr          Wa  Wc  Wr   W  \
186  25.143014  20.857348  81.324455  NaN  329.972989  457.297806 NaN NaN NaN
193  25.143014  20.857348  81.324455  NaN  329.972989  457.297806 NaN NaN NaN
201  25.143014  20.857348  81.324455  NaN  329.972989  457.297806 NaN NaN NaN
209  25.143014  20.857348  81.324455  NaN  329.972989  457.297806 NaN NaN NaN
215  25.143014  20.857348  81.324455  NaN  329.972989  457.297806 NaN NaN NaN

     Wc_v  Wc_a            C          NPV  Resp  Temp      Slp  Alt  Precd  \
186   NaN   NaN  1131.812069 -6982.443636    20  14.3  23.6572  375   69.3
193   NaN   NaN  1131.812069 -6982.443636    20  14.3  23.6572  375   69.3
201   NaN   NaN  1131.812069 -6982.443636    20  14.3  23.6572  375   69.3
209   NaN   NaN  1131.812069 -6982.443636    20  14.3  23.6572  375   69.3
215   NaN   NaN  1131.812069 -6982.443636    20  14.3  23.6572  375   69.3

     Prec  Precipit  Roads species      Cstem      Cbark     Cbranch  \
186  85.4     959.5      0      Qr  12.169219  39.361036  159.706927
193  85.4     959.5      0      Qr  12.169219  39.361036  159.706927
201  85.4     959.5      0      Qr  12.169219  39.361036  159.706927
209  85.4     959.5      0      Qr  12.169219  39.361036  159.706927
215  85.4     959.5      0      Qr  12.169219  39.361036  159.706927

         Cleaf      Croot  Nthin  CharvTree  CharvCork  CharvResin  \
186  10.094956  12.242041    724   0.924660        0.0         0.0
193  10.094956  12.237443    740   0.945095        0.0         0.0
201  10.094956  12.237443    740   0.945095        0.0         0.0
209  10.094956  12.237443    740   0.945095        0.0         0.0
215  10.094956  12.237443    740   0.945095        0.0         0.0

          CTree      cashflow
186  233.574179 -16948.223394
193  233.569581 -16948.223394
201  233.569581 -16948.223394
209  233.569581 -16948.223394
215  233.569581 -16948.223394

Not clear if this data will be used. Deal with it later.

## Special case: The planted species can change during a period
For some `UG`, we have data of two different `species`
- in the same `period`,
- within the same prescription `Presc`,
- and the same `area`.

These are stands where the prescribed/planted **species changes** within a period:

In [ ]:
# filter for species changes 
df_spchanges = presc[presc.duplicated(subset=['UG','Presc','period','area'], keep=False)].copy()
print('A species change looks like this:')
df_spchanges.head(2)

A species change looks like this:

,UG,species,Presc,area,NasolMaxRES,NasolMaxWood,period,Vremovido(ton),rait0,rait5,rait10
30,1,Ct,1312,42.601782,NaN,NaN,1,0.000000,40.2712,51.1221,63.9027
31,1,Ec,1312,42.601782,NaN,NaN,1,2999.271982,57.0695,110.7646,115.0248

In [ ]:
# more detailed example:
presc[(presc['Presc'] == '1312') & (presc['UG'] == '1')]

,UG,species,Presc,area,NasolMaxRES,NasolMaxWood,period,Vremovido(ton),rait0,rait5,rait10
30,1,Ct,1312,42.601782,NaN,NaN,1,0.000000,40.2712,51.1221,63.9027
31,1,Ec,1312,42.601782,NaN,NaN,1,2999.271982,57.0695,110.7646,115.0248
32,1,Ct,1312,42.601782,NaN,NaN,2,0.000000,146.2009,170.4071,213.0089
33,1,Ct,1312,42.601782,NaN,NaN,3,50.840946,151.4155,170.4071,213.0089
34,1,Ct,1312,42.601782,NaN,NaN,4,1578.396066,160.0579,170.4071,213.0089
35,1,Ct,1312,42.601782,NaN,NaN,5,6718.887084,156.0558,170.4071,213.0089

In this example, the species change happens in period 1.